body {
    margin: 10px;
    padding: 10px;
    background-color: black;
    border: #1DB954 10px solid;
    border-radius: 10px;
    color: white;
    min-height: calc(100vh - 40px);
    font-family: Circular, Helvetica, Arial, sans-serif;
    text-align: center
}

h1 {
    font-size: 2rem;
}

#lyrics {
    color: black
}

.button {
    display: inline-block;
    background-color: #1DB954;
    color: white;
    padding: 2em 3em;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
}